Repository lgf-136/web-project-template: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

fix: 🐛 change file format
  .stylelintrc
  .stylelintrc.js
  .vscode/settings.json
  package.json
  src/index.scss
  yarn.lock
Due: stylelint --fix

test: test lint-staged
  .lintstagedrc
  src/index.css
Due: stylelint --fix

feat: 🎸 add postcss and autoprefixer
  .browserslistrc
  .vscode/settings.json
  package.json
  postcss.config.js
  src/index.css
  yarn.lock
Due: stylelint --fix

fix: 🐛 add tslint
  package.json
  yarn.lock
Due: none

feat: 🎸 add vite-react-ts template base
  .eslintrc.js
  .hintrc
  .vscode/extensions.json
  .vscode/settings.json
  index.html
  package.json
  public/vite.svg
  src/App.css
  src/App.tsx
  src/assets/react.svg
  src/index.css
  src/index.less
  src/index.scss
  src/index.ts
  src/index.tsx
  src/vite-env.d.ts
  tsconfig.json
  tsconfig.node.json
  vite.config.ts
  yarn.lock
Due: eslint --fix, stylelint --fix

feat: 🎸 add utools-plugin env
  .env
  .vscode/settings.json
  config/vite.base.config.ts
  config/vite.build.config.ts
  config/vite.serve.config.ts
  env/.env.development
  env/.env.production
  http/news.http
  http/users.http
  mock/db.js
  mock/db.json
  mock/mockProdServer.ts
  mock/users.ts
  package.json
  vite.config.ts
  yarn.lock
Due: none

test: 💍 test build utools plugin
  public/logo.png
  utools/config.json
  utools/plugin.json
  utools/preload.js
  utools/preload.ts
  vite.config.ts
Due: none

fix: 🐛 vite logo 不能正常显示
  .vscode/extensions.json
  src/App.tsx
Due: eslint --fix

fix: 🐛 add vscode plugin
  .vscode/extensions.json
Due: none

feat: 🎸 add vite-vue3-ts-template
  .eslintrc.js
  config/vite.base.config.ts
  index.html
  package.json
  src/App.css
  src/App.tsx
  src/App.vue
  src/assets/react.svg
  src/assets/vue.svg
  src/components/HelloWorld.vue
  src/index.css
  src/index.ts
  src/index.tsx
  src/vite-env.d.ts
  tsconfig.json
  yarn.lock
Due: eslint --fix, stylelint --fix

chore(release): 0.0.1
  CHANGELOG.md
  package.json
Due: none

feat: 🎸 add github actions
  .github/workflows/development.yml
  .github/workflows/production.yml
  .github/workflows/release.yml
  .github/workflows/staging.yml
Due: none

fix: 🐛 add github actions
  .github/workflows/staging.yml
Due: none

test: 💍 test github actions
  .github/workflows/production.yml
Due: none

fix: 🐛 fix github action
  .github/workflows/production.yml
Due: none

fix: 🐛 hot fix
  .github/workflows/production.yml
Due: none

feat: 🎸 add create-react-app ts template
  .browserslistrc
  .eslintrc.js
  .gitignore
  .vscode/settings.json
  README.md
  package.json
  public/favicon.ico
  public/index.html
  public/logo192.png
  public/logo512.png
  public/manifest.json
  public/robots.txt
  src/App.css
  src/App.test.tsx
  src/App.tsx
  src/index.css
  src/index.less
  src/index.scss
  src/index.ts
  src/index.tsx
  src/logo.svg
  src/react-app-env.d.ts
  src/reportWebVitals.ts
  src/setupTests.ts
  tsconfig.json
  yarn.lock
Due: eslint --fix, stylelint --fix

fix: 🐛 add plugin for vscode
  .vscode/extensions.json
  .vscode/settings.json
Due: none

feat: 🎸 add umijs-react-ts template
  .eslintrc.js
  .umirc.ts
  package-lock.json
  package.json
  src/.umi/core/EmptyRoute.tsx
  src/.umi/core/defineApp.ts
  src/.umi/core/history.ts
  src/.umi/core/plugin.ts
  src/.umi/core/pluginConfig.d.ts
  src/.umi/core/polyfill.ts
  src/.umi/core/route.tsx
  src/.umi/core/terminal.ts
  src/.umi/exports.ts
  src/.umi/tsconfig.json
  src/.umi/typings.d.ts
  src/.umi/umi.ts
  src/assets/yay.jpg
  src/index.css
  src/index.less
  src/index.scss
  src/index.ts
  src/layouts/index.less
  src/layouts/index.tsx
  src/pages/docs.tsx
  src/pages/index.tsx
  tsconfig.json
  typings.d.ts
  yarn.lock
Due: eslint --fix, stylelint --fix

fix: 🐛 hot fix path
  src/.umi/core/polyfill.ts
Due: eslint --fix

fix: 🐛 fix
  src/.umi/tsconfig.json
Due: none

chore(release): 0.0.2
  CHANGELOG.md
  package.json
Due: none

fix: 🐛 change git-hooks
  .husky/commit-msg
Due: none

chore(release): 0.0.3
  CHANGELOG.md
  package.json
Due: none

test: 💍 test git-cz
  .husky/commit-msg
Due: none

test: 💍 test git-cz (#2)
  .husky/commit-msg
Due: none

docs: ✏️ update readme
  README.md
Due: none

fix: 🐛 change eslint config
  .eslintrc.js
Due: none

fix: 🐛 change readme and eslint config
  .eslintrc.js
  README.md
Due: none

docs: ✏️ add vscode plugin
  .vscode/extensions.json
Due: none

feat: 🎸 add clean_node_modules.js
  .eslintrc.js
  clean_node_modules.js
  index.js
Due: none

Path conditions:
  eslint --fix: any of: src/**/*.{ts,js,tsx,jsx,vue}
  stylelint --fix: any of: src/**/*.{vue,css,less,scss}
